$primary-color: #171d25; // Used for navbar
$secondary-color: #F4F4F4; // used for cards
$tertiary-color: #ccff33;

$green-color: #378E4D;

$contrast-color: #890104;

$background-color: #f3ffef;

$primary-text-color: #333;
$secondary-text-color: white;
