// Specific CSS for your home-page
.option-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  margin: auto;
  margin-top: 20px;
  background-color: $secondary-color;

  border-radius: 5px;

  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 10px;

  width: 80%;
}

.no-margin-p {
  margin: 0;
}
