// Specific CSS for your home-page
body {
  background-color: $background-color;
}

.homepage-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.pill-btn{
  display: flex;
  // box-sizing: border-box;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  background: $secondary-color;
  border-radius: 999em;
  text-decoration: none;
  color: lightgray;
  font-size: 16px;
      vertical-align: bottom;
    white-space: nowrap;
  letter-spacing: 2px;
  transition: .15s background-color,.15s border-color,.15s color,.15s fill;
  // box-shadow: rgba(48, 123, 78, 0.35) 0px 5px 5px;
  box-shadow: $shadow-card;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;
}

// search bar
.searchbar-container {
  position: relative;
}

.search-bar {
  //margin: 20px auto;
  margin-top: 0px;
  margin-bottom: 20px;
  width: 100%;
  padding: 15px 40px;
  outline: none;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  box-shadow: $shadow-card;
  background-color: #F4F4F4;
  transition: all 0.3s ease;
}

.search-bar:focus {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.looking-btn {
  position: absolute;
  top: 38%;
  right: -20px;
  transform: translateY(-50%);

  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: #378E4D;
  box-shadow: $shadow-card;
  outline: none;
  transition: all 0.3s ease;
}

.loupe {
  color: #fff;
  font-size: 20px;
}

.option-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  margin-left: 10px;
  // margin-top: 20px;
  background-color: $secondary-color;
  border-radius: 10px;
  // box-shadow: rgba(48, 123, 78, 0.35) 0px 5px 15px;
  box-shadow: $shadow-card;
  padding: 10px;
  width: 92.5%;
}

.margin-p2 {
  margin: 0;
  margin-top: 7px;
  margin-bottom: 20px;
  text-align: center;
}

.booking-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 120px;

  padding: 10px;
  width: 100%;
  background-color: $contrast-color;
  border: solid 2px $contrast-color;

  border-radius: 10px;

  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

  p {
    margin: 0;
    font-size: 20px;
  }
}

.booking-btn-link {
  color: white;
  text-decoration: none;
}

// Counter of CO2
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}

.co2-display1 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 145px;
}

.co2-display2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.co2-image {
  margin-right: 10px;
  vertical-align: middle;
}

.counter-item {
  position: relative;
  width: 24px;
  height: 36px;
  margin: 0 1px;
  background: rgb(240,243,189);
  background: linear-gradient(183deg, rgba(240,243,189,1) 0%, rgba(240,243,189,1) 50%, rgba(122,123,88,1) 100%);
  overflow: hidden;
  text-align: center;
  line-height: 60px;
  font-size: 1.6em;
  border: 2px solid #333;
  color: black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.counter-item::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
}

// BIG GREEN BUTTON:
.pushable {

  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  position: relative;
  border: none;
  background: transparent;


  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;

  &:active {
    .front {
      transform: translateY(0px);
      transition: transform 34ms;
    }

    .shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;

    background: rgba(hsl(0deg, 0%, 0%), 0.25);

    will-change: transform;
    transform: translateY(10px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;

    background: linear-gradient(to left,
      rgba(hsl(116, 74%, 17%), 1) 0%,
      rgba(hsl(339, 100%, 6%), 1) 8%,
      rgba(hsl(129, 70%, 21%), 1) 92%,
      rgba(hsl(124, 51%, 10%), 1) 100%);
    background-color: #195F5B;
  }

  .front {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;

    color: white;

    background:
      url('codebar4.png'),
      linear-gradient(61deg, rgba(30,111,81,1) 1%, rgba(125,172,66,1) 73%, rgba(203,212,60,1) 85%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    will-change: transform;
    transform: translateY(-6px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);

    letter-spacing: 2px;
    font-size: 22px;
  }
}

.front, .edge, .shadow {
  border-radius: 10px;
  // width: 180px; // adjust as needed
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

// Funny scan effect
$componentSize: 143px;
$maskSize: 50px;
$speed: 3s;
$borderOffset: 8px;

$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX($componentSize - $maskSize);
  }
}

@keyframes mask-inner-move {
  0%   {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-($componentSize - $maskSize));
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.focus {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: .2rem;
  line-height: 1;
  position: relative;
  width: $componentSize;
  &:before {
      content: 'SCAN';
      filter: blur(2px);
  }
  &:after {
    content: '';
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset / 2);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;
  }
  &--mask {
    overflow: hidden;
    position: absolute;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    animation: mask-move $animationProps;
    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}
