#no-scroll {
  overflow: hidden;
}

.scan-window {
  display: flex;
  position: relative;
}

#product-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  bottom: 14vh;
  z-index: 100;
  background-color: white;
  width: 100%;
  height: 45vh;
  padding: 20px;
  border-radius: 30px 30px 0 0;
  // Pop-Up Animation
  animation-name: popup;
  animation-name: popdown;
}

@keyframes popup {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 14vh;
  }
}

@keyframes popdown {
  from {
    bottom: 14vh;
  }
  to {
    bottom: -100vh;
  }
}

#product-card-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pill {
  height: 8px;
  width: 80px;
  background-color: black;
  border-radius: 999px;
  color: black;
}

#product-card-middle {
  position: relative;
  width: 100%;
  display: flex;
  gap: 20px;
}

#product-card-middle img {
  border-radius: 10px;
  width: 35%;
  height: 100px;
  object-fit: cover;
}

#product-card-middle h1 {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 400;
  color: black;
}

#product-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

#product-card-bottom .product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 10px 20px;
  // Specific Tag Styling
  background-color: $background-color;
  color: black;
  border: solid 1px black;
}

#product-card-bottom .smoke-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 10px 20px;
  // Specific Tag Styling
  background-color: $background-color;
  color: black;
}

// #product-card h2 {
//   font-size: 1.2rem;
//   margin: 0;
//   font-weight: 400;
//   color: rgb(0, 0, 0);
// }

#Plastique {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0px 10px;
  // Specific Tag Styling
  background-color: rgb(58, 58, 255);
  color: white;
  border: solid 1px black;
  width: fit-content;
}

#Verre {
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0px 10px;
  // Specific Tag Styling
  background-color: rgb(0, 93, 0);
  color: white;
  border: solid 1px black;
  width: fit-content;
}

#Carton {
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0px 10px;
  // Specific Tag Styling
  background-color: yellow;
  color: black;
  border: solid 1px black;
  width: fit-content;
}

#Aluminium {
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0px 10px;
  // Specific Tag Styling
  background-color: rgb(58, 58, 255);
  color: white;
  border: solid 1px black;
  width: fit-content;
}

#Metal {
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1.5rem;
  padding: 0px 10px;
  // Specific Tag Styling
  background-color: rgb(76, 76, 76);
  color: white;
  border: solid 1px black;
  width: fit-content;
}

// .target-on-scan {
//   display: flex;
//   margin: auto;
//   width: 50%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0.2;
// }

#video {
  // width: 300px;
  // height: 200px;
  display: flex;
  // border: 1px solid gray;
  height: 110vh;
  width:100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

// * {
//   border: red 1px solid;
// }
