.homepage-container-index-product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // align-items: stretch;
  min-height: 80vh;
  margin-top: 10px;
  overflow: scroll;

  padding-bottom: 10vh; // So that last items are not hidden by the footer
}

.index-card {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  flex-wrap: nowrap;

  background-color: $secondary-color;

  border-radius: 10px;

  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 5px;
  box-shadow: $shadow-card;

  width: 100%;
  flex-shrink: 0;
  overflow: hidden;

  position: relative;
  text-decoration: none;
  color: inherit;
}

.small-square-image {
  border-radius: 10px;
  height: 110px;
  width: 110px;
  object-fit: cover;
}

.text-align-column-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex: 1;
  max-width: calc(100% - 80px);
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-no-margin-index {
  margin: 0;
  font-size: small;

}

.product-index-name {
  font-size: medium;
  word-wrap: break-word;
}

.material-gellule {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 999em;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;

  color: white;
}

.small-bin-icon {
  height: 30px;
  width: 30px;

  position: absolute;
  bottom: 5px;
  right: 5px;
}

.small-bin-icon:active {
  transform: scale(0.8);
}

.product-link {
  width: 92.5%;

  text-decoration: none;
  color: inherit;

  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: nowrap;

  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.product-link:active {
  transform: scale(0.90);
}

.index-card:active {
 background-color: #d0d83b;
}


.clickable-icon {
  transition: transform 0.2s ease;
  width: 30px;
  height: 30px;
}

.clickable-icon:active {
  transform: scale(0.8);
}
