#no-scroll {
  overflow: hidden;
  touch-action: none;
}

.scan-window {
  display: flex;
  position: relative;
}

#product-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  // position: absolute;
  // bottom: 30vh;
  z-index: 10000;
  background-color: white;

  position: fixed;
  bottom: 0px;

  width: 100%;
  height: fit-content;
  padding: 20px;
  border-radius: 40px 40px 0px 0px;
  // Pop-Up Animation
  animation-name: popup;
  animation-name: popdown;
}

@keyframes popup {
  from {
    bottom: -100vh;
  }
  to {
    bottom: 0px;
  }
}

@keyframes popdown {
  from {
    bottom: 0px;
  }
  to {
    bottom: -100vh;
  }
}

#product-card-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pill {
  height: 8px;
  width: 80px;
  background-color: black;
  border-radius: 999px;
  color: black;
}

#product-card-middle {
  position: relative;
  width: 100%;
  display: flex;
  gap: 0px;
}

#product-card-middle img {
  border-radius: 10px;
  width: 35%;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

#product-card-middle h1 {
  font-size: 1.2rem;
  line-height: 1.3rem;
  margin: 0;
  font-weight: 600;
  color: black;
}

#product-card-middle h2 {
  font-size: 0.8rem;
  margin-top: 5px;
  font-weight: 200;
  color: black;
}

#product-card-bottom {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  margin-bottom: 15px;
}

#product-card-bottom .product-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  // General Tag Styling
  border-radius: 999px;
  font-size: 1rem;
  padding: 10px 20px;
  // Specific Tag Styling
  background-color: $background-color;
  color: black;
  border: solid 1px black;
}

// #product-card-bottom .smoke-screen {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   width: 100%;
//   // General Tag Styling
//   border-radius: 999px;
//   font-size: 1.5rem;
//   padding: 10px 20px;
//   // Specific Tag Styling
//   background-color: $background-color;
//   color: black;
// }

// #product-card h2 {
//   font-size: 1.2rem;
//   margin: 0;
//   font-weight: 400;
//   color: rgb(0, 0, 0);
// }

#Plastique {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  // font-size: 0.8rem;
  padding: 5px 10px;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;
  // Specific Tag Styling
  background-color: yellow;
  color: black;
  width: fit-content;
}

#Verre {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  // font-size: 0.8rem;
  padding: 5px 10px;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;
  // Specific Tag Styling
  background-color: green;
  color: white;
  width: fit-content;
}

#Carton {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  // font-size: 0.8rem;
  padding: 5px 10px;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;
  // Specific Tag Styling
  background-color: blue;
  color: white;
  width: fit-content;
}

#Aluminium {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  // font-size: 0.8rem;
  padding: 5px 10px;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;
  // Specific Tag Styling
  background-color: grey;
  color: black;
  width: fit-content;
}

#Metal {
  position: absolute;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  // General Tag Styling
  border-radius: 999px;
  // font-size: 0.8rem;
  padding: 5px 10px;
  box-shadow: rgba(211, 200, 200, 0.35) 0px 5px 5px;
  // Specific Tag Styling
  background-color: grey;
  color: black;
  width: fit-content;
}

// .target-on-scan {
//   display: flex;
//   margin: auto;
//   width: 50%;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   opacity: 0.2;
// }

#video {
  // width: 300px;
  // height: 200px;
  display: flex;
  // border: 1px solid gray;
  height: 110vh;
  width:100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

// * {
//   border: red 1px solid;
// }
