.infos-spot-title-elements {
  //margin-left: 40px;
  text-align: center;
}

.sticky-sticky-icon {
  position: sticky;
  top: 1.5vh;
  z-index: 1000;
}

.yellow-card {
  background: rgb(240,255,69);
  background: linear-gradient(180deg, rgba(240,255,69,1) 0%, rgba(240,255,69,1) 15%, rgba(243,255,239,1) 63%);
}

.greeen-card {
  background: rgb(34,221,84);
  background: linear-gradient(180deg, rgba(34,221,84,1) 0%, rgba(34,221,84,1) 15%, rgba(243,255,239,1) 63%);
}

.blue-card {
  background: rgb(15,189,244);
background: linear-gradient(180deg, rgba(15,189,244,1) 0%, rgba(15,189,244,1) 15%, rgba(243,255,239,1) 63%);
}

.brown-card {
  background: rgb(205,127,50);
  background: linear-gradient(180deg, rgba(205,127,50,1) 0%, rgba(205,127,50,1) 15%, rgba(243,255,239,1) 63%);
}

.grey-card {
  background: rgb(161,161,161);
background: linear-gradient(180deg, rgba(161,161,161,1) 0%, rgba(161,161,161,1) 15%, rgba(243,255,239,1) 63%);
}

.black-card {
  background: rgb(105,139,88);
background: linear-gradient(180deg, rgba(105,139,88,1) 0%, rgba(105,139,88,1) 15%, rgba(243,255,239,1) 63%);
  h3, h4 {
    color: white;
  }
}

.info-page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  width: 90%;
  min-height: 80vh;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 10vh;
}

.info-page-container h3, h4, p {
  margin: 0;
}

.info-page-container hr {
  margin-top: 20px;
  margin-bottom: 20px;
  // margin-right: 10px;
  // margin-left: 10px;
}

.info-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  // background-color: $secondary-color;
  border-radius: 10px;
  box-shadow: $shadow-card;
  width: 95%;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 20px;
}

// picture div
.spot-illustration-helper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 5px;
  text-align: center;
}

.bubble-tea {
  margin: 0;
  border: black solid 2px;
  border-radius: 999px;
  padding: 10px;
  background-color: rgb(243, 243, 243);
  box-shadow: $shadow-card;
}

.small-image-info {
  display: flex;
  height: 200px;
  width: auto;

  //border-radius: 50%;
}

.left-arrow-icon {
  display: flex;
  color: black;
  font-size: 30px;
}

// Produits recyclables
.thumb-icon {
  color: #186D58;
  font-size: 24px;
}

// .indent-skip-line {
//   padding-left: 1.5em;
//   text-indent:-1.5em;
// }

.good-and-bad {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.pack-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.packaging-content {
  // text-align: justify;
  text-justify: auto;
}

// nono win
.nono-win {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.nono {
  //gap: 50px;
  margin-top: 20px;
}

.nono, .win {
  flex: 1;
}



.win {
  text-align: center;
  background-color: white;
}

.nono fa-solid {
  color: black;
  font-size: 20px;
  gap: 20px;
}

.nope-icon {
  color: darkred;
  font-size: 24px;
}

.pack-div-smallgap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
}

.pack-div-smallgap:not(:last-child) {
  margin-bottom: 20px;
}

.so-much-divs {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  // align-items: center;
  gap: 10px;
  padding-right: 20px;

}

.sketchy {
  padding: 10px;
  display: inline-block;
  border: 3px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  position: relative;

  &::before {
      content: '';
      border: 2px solid #353535;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
      border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
  }
}

// Button to map intro
.spot-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;

  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.booking-btn-link-spot {
  color: white;
  text-decoration: none;

  p {
    margin: 0;
  }
}

.pushable-spot {
  width: 100%;

  position: relative;
  border: none;
  background: transparent;

  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;

  &:active {
    .front-spot {
      transform: translateY(0px);
      transition: transform 34ms;
    }

    .shadow-spot {
      transform: translateY(1px);
      transition: transform 34ms;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }

  .shadow-spot {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;

    background: rgba(hsl(0, 0%, 24%), 0.25);

    will-change: transform;
    transform: translateY(8px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
  }

  .edge-spot {
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px;

    background: linear-gradient(to left,
      rgba(hsl(116, 74%, 17%), 1) 0%,
      rgba(hsl(339, 100%, 6%), 1) 8%,
      rgba(hsl(129, 70%, 21%), 1) 92%,
      rgba(hsl(124, 51%, 10%), 1) 100%);
    background-color: #195F5B;
  }

  .front-spot {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;

    color: white;

    background:
      linear-gradient(61deg, rgba(30,111,81,1) 1%, rgba(125,172,66,1) 73%, rgba(203,212,60,1) 85%);
    background-color: #1A605D;
    background-repeat: no-repeat;
    background-position: center;
    // background-size: 100% auto;
    background-size: contain;
    will-change: transform;
    //transform: translateY(0px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);

    // letter-spacing: 2px;
    font-size: 18px;
  }
}

.front-spot, .edge-spot, .shadow-spot {
  border-radius: 10px;
  // width: 180px; // adjust as needed
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.front-spot2, .edge-spot2, .shadow-spot2 {
  //width: 90%;
}

.front-spot2 {
  justify-content: center;
}

// .front-spot span {
//   margin: 0;
//   //margin-right: 10px;
//   white-space: nowrap;
// }

.fa-map-location-dot {
  fill: white;
  font-size: 24px;
}
