<head>
  <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
</head>

<%# <div id="animated-splash-screen">
  <img id="animated-splash-screen" src="/splashscreens/apple-splash-1170x2532.gif" alt="Loading...">
</div> %>

<div class="intro-body particle-container">


  <div class="banner-intro">

    <div class="gallery js-flickity">
      <div class="gallery-cell"><%= image_tag 'green-bin-tuto-1.png'%></div>
      <div class="gallery-cell"><%= image_tag 'green-bin-tuto-2.png'%></div>
      <div class="gallery-cell"><%= image_tag 'green-bin-tuto-3.png'%></div>
    </div>

    <div class="intro-container">
      <%= link_to root_path, class: "pushable-intro booking-btn-link-intro" do %>
        <span class="shadow-intro"></span>
        <span class="edge-intro"></span>
        <span class="front-intro"><p>C'est parti !</p></span>
      <% end %>
    </div>

    <%# <p>Découvrir &lt;&lt;</p> %>

  </div>


  <% (1..100).each do |i| %>
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  <% end %>
</div>

<%# <script>
  document.addEventListener('DOMContentLoaded', function() {
    setTimeout(function() {
      document.getElementById('animated-splash-screen').style.display = 'none';
    }, 1000); // Durée de l'animation en millisecondes
  });
</script> %>
