<h1>Magnifique page d'accueil</h1>

<% if user_signed_in? %>
  <%= link_to 'Scan a product', new_user_product_path(current_user), class: "booking-btn-link" %>
<% else %>
  <%= link_to 'Sign in to scan a product', new_user_session_path, class: "booking-btn-link" %>
<% end %>

<div data-controller="test">
  <button data-action="click->test#test">Click me</button>
  <div data-test-target="output"></div>
</div>
