


<div class="homepage-container">


  <div class="option-card">

    <p class="pill-btn">Rechercher</p>
    <% if user_signed_in? %>
      <%= link_to new_product_path, class: "pushable booking-btn-link" do %>
        <!-- <div class="booking-btn">
          <p>Scan a product!</p>
        </div> -->

        <!-- <button class="pushable"> -->
          <span class="shadow"></span>
          <span class="edge"></span>
          <span class="front">
            SCAN
          </span>
        <!-- </button> -->

      <% end %>
    <% else %>

      <%= link_to new_user_session_path, class: "booking-btn-link"  do %>
        <div class="booking-btn">
          <p>Log in to scan!</p>
        </div>
      <% end %>
    <% end %>

  </div>



  <div class="option-card">
    <p class="margin-p">Votre consommation:</p>
    <p class="margin-p">44 kg de Co2</p>
  </div>

  <%# 100.times do %>
    <!-- <div class="circle-container">
      <div class="circle"></div>
    </div> -->
  <%# end %>

</div>
<!--<div data-controller="test">
  <button data-action="click->test#test">Click me</button>
  <div data-test-target="output"></div>
</div>-->
