<div class="container d-flex flex-column gap-3 px-4 pt-4 mb-4 pb-5">
  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A TRIER</strong></p>
        <p><em>Bac à couvercle jaune ou point de collecte</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Briques alimentaire</p>
      </li>
      <li class="list-group-item">
        <p>Emballages en carton</p>
      </li>
      <li class="list-group-item">
        <p>Papiers</p>
      </li>
      <li class="list-group-item">
        <p>Emballages en métal</p>
      </li>
      <li class="list-group-item">
        <p>Emballages en plastique</p>
      </li>
      <li class="list-group-item">
        <p>Bouteilles et flacons en plastique</p>
      </li>
    </ul>
  </div>

  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A TRIER</strong></p>
        <p><em>Point de collecte</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Pots et bocaux en verre</p>
      </li>
      <li class="list-group-item">
        <p>Bouteilles en verre</p>
      </li>
    </ul>
  </div>

  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A TRIER</strong></p>
        <p><em>Bac à couvercle bleu ou point de collecte</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Cahiers, bloc-notes, impressions</p>
      </li>
      <li class="list-group-item">
        <p>Journaux, catalogues et prospectus</p>
      </li>
      <li class="list-group-item">
        <p>Courriers, enveloppes et livres</p>
      </li>
    </ul>
  </div>

  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A COMPOSTER</strong></p>
        <p><em>Bac à compostage</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Matières brunes</p>
      </li>
      <li class="list-group-item">
        <p>Matières vertes</p>
      </li>
    </ul>
  </div>

  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A JETER</strong></p>
        <p><em>Bac à couvercle gris ou point de collecte</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Ce qu'il reste après le tri</p>
      </li>
    </ul>
  </div>

  <div class="card col-12">
    <div class="card-header d-flex gap-1">
      <div class="col-9">
        <p><strong>A JETER</strong></p>
        <p><em>En déchèterie</em></p>
      </div>
      <div class="col-3">
        <img src="https://img.icons8.com/ios/50/000000/recycle-sign.png"/>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <p>Vaisselle en verre ou en porcelaine</p>
      </li>
      <li class="list-group-item">
        <p>Objets en plastique</p>
      </li>
      <li class="list-group-item">
        <p>Déchets encombrants</p>
      </li>
      <li class="list-group-item">
        <p>Déchets textiles</p>
      </li>
    </ul>
  </div>
</div>
