<% if @spots.any? %>
  <% @spots.each do |spot| %>
    <h4><%= spot.title %></h4>
    <p><%= spot.packaging %></p>
    <!-- <img src="<%= spot.illustration %>" alt=""> -->
  <% end %>
<% else %>
  <em>Désolé, pas d'information retrouvé</em>
<% end %>
