.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.user-marker {
  background-color: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}
