.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.user-marker {
  background-color: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-geocoder--input {
  max-width: 100vw !important;
  position: fixed;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 999px;
}
