.mapboxgl-popup {
  max-width: 200px;
  border-radius: 10px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
}

.user-marker {
  background-color: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
}

.mapboxgl-ctrl-logo {
  display: none !important;
}

.mapboxgl-ctrl-geocoder {
  max-width: 98vw !important;
  position: fixed;
  top: 3%;
  left: 50%;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  width: 100%;
}
