.current-user .current-avatar {
  border: 5px solid rgb(0, 163, 3);
  animation: glow 1.5s infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgb(0, 163, 3);
  }
  50% {
    box-shadow: 0 0 30px rgb(0, 163, 3);
  }
  100% {
    box-shadow: 0 0 5px rgb(0, 163, 3);
  }
}

.avatar {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.option-card2 {
  display: flex;
  align-items: center;
  padding: 10px;
}

.ranking-number {
  width: 30px;
  text-align: right;
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
  position: relative;
}

.username {
  margin: 0;
  padding-left: 10px;
}

.total-emission {
  margin-left: auto;
}

.bigcontainer {
  margin-bottom: 10vh;
  font-family: 'Poppins', sans-serif;
}

.gold {
  background-color: rgba(240, 204, 0, 0.7);
}

.silver {
  background-color: rgba(162, 162, 162, 0.7);
}

.bronze {
  background-color: rgba(207, 107, 6, 0.7);
}

.crown-overlay {
  position: absolute;
  top: -15px;
  left: 18px;
  width: 35px;
  height: 35px;
  background-image: url('../../images/rank1crown.png');
  background-size: cover;
  transform: rotate(27deg);
  z-index: 10;
}
