<div class="homepage-container-index-product">

  <% @products.each do |product| %>

    <div class="index-card">
      <%= image_tag product.image_url, class: "small-square-image"%>

      <div class="text-align-column-left">
        <p class="p-no-margin-index product-index-name"><%= product.name %></p>

        <p class="p-no-margin-index material-gellule" style="background-color: <%= display_material(product)[:color] %>;"><%= display_material(product)[:name] %></p>
      </div>
    </div>
  <% end %>

</div>
