<%# @products.each do |product| %>

  <%#= product.image_url %>

  <%#= product.name %>

  <%#= product.description %>

<%# end %>

<div class="homepage-container-index-product">

  <div class="index-card">
    <img class="small-square-image" src="https://souriredessaveurs.com/3696-large_default/eau-perrier-24-bouteilles-de-33-cl-en-verre-consigne-consigne-de-420-comprise-dans-le-prix.jpg" alt="">

    <div class="text-align-column-left">
      <h2>Bol de glaire</h2>

      <p class="p-no-margin-index">verre</p>
    </div>
  </div>

  <div class="index-card">
    <img class="small-square-image" src="https://souriredessaveurs.com/3696-large_default/eau-perrier-24-bouteilles-de-33-cl-en-verre-consigne-consigne-de-420-comprise-dans-le-prix.jpg" alt="">

    <div class="text-align-column-left">
      <h2>Bol de glaire</h2>

      <p class="p-no-margin-index">verre</p>
    </div>
  </div>

</div>
